In [ ]:


#######################
##
##  Create the data
##
######################



## numpy is used for creating fake data
import numpy as np     
import pandas as pd 
#import matplotlib.pyplot as plt
#import numpy as np 
#import matplotlib as mpl 


import matplotlib.pyplot as plt

#%matplotlib inline
plt.plot([1, 2, 3, 4])
plt.ylabel('some numbers')

#%matplotlib inline
%matplotlib inline

plt.show()

In [ ]:

#  to undo , Enter then cntrl Z   <<---------------------- to UNDO

import os   ##  this one works to check your directory and show all data sets within that folder

with os.scandir('Datasets_Folder/') as entries:
    for entry in entries:
        print(entry.name)

In [ ]:
##------------------
##
##      START
##
##------------------

# this seems to work   <<-------------

import numpy as np     
import pandas as pd 
import matplotlib.pyplot as plt

## 1st upload data into Juypter Notebook, 2nd copy this 'global_warming.csv' into pd read as below

#Datasets_Folder()

#data = pd.read_csv("global_warming.csv")
data = pd.read_csv("Datasets_Folder/global_warming.csv")
print (data.head(10)) 

##------------------
##
##      END
##
##------------------

In [21]:
data.describe()

              Year      Annual  5_year_mean
count   137.000000  137.000000   137.000000
mean   1948.000000    0.024380     0.024453
std      39.692569    0.326991     0.316130
min    1880.000000   -0.470000    -0.410000
25%    1914.000000   -0.210000    -0.230000
50%    1948.000000   -0.070000    -0.040000
75%    1982.000000    0.190000     0.210000
max    2016.000000    0.990000     0.910000

In [16]:

##  returns the row and column indices where the value is NaN:
np.where(pd.isnull(data))

(array([], dtype=int64), array([], dtype=int64))

In [17]:

##  Finding values which are empty strings could be done with applymap: 
np.where(data.applymap(lambda x: x == ''))

(array([], dtype=int64), array([], dtype=int64))